
## <summary>policy for hodlcash</summary>


########################################
## <summary>
##	Transition to hodlcash.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`hodlcash_domtrans',`
	gen_require(`
		type hodlcash_t, hodlcash_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, hodlcash_exec_t, hodlcash_t)
')


########################################
## <summary>
##	Execute hodlcash server in the hodlcash domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`hodlcash_initrc_domtrans',`
	gen_require(`
		type hodlcash_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, hodlcash_initrc_exec_t)
')


########################################
## <summary>
##	Search hodlcash lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`hodlcash_search_lib',`
	gen_require(`
		type hodlcash_var_lib_t;
	')

	allow $1 hodlcash_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read hodlcash lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`hodlcash_read_lib_files',`
	gen_require(`
		type hodlcash_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, hodlcash_var_lib_t, hodlcash_var_lib_t)
')

########################################
## <summary>
##	Manage hodlcash lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`hodlcash_manage_lib_files',`
	gen_require(`
		type hodlcash_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, hodlcash_var_lib_t, hodlcash_var_lib_t)
')

########################################
## <summary>
##	Manage hodlcash lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`hodlcash_manage_lib_dirs',`
	gen_require(`
		type hodlcash_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, hodlcash_var_lib_t, hodlcash_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a hodlcash environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`hodlcash_admin',`
	gen_require(`
		type hodlcash_t;
		type hodlcash_initrc_exec_t;
		type hodlcash_var_lib_t;
	')

	allow $1 hodlcash_t:process { ptrace signal_perms };
	ps_process_pattern($1, hodlcash_t)

	hodlcash_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 hodlcash_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, hodlcash_var_lib_t)

')

